.toggle-handle {
	position:absolute;
	z-index:4;
}

.toggle-progress {
	pointer-events: none;
	position:absolute;
	z-index:1;
}

/*.toggle-progress, .toggle-handle {
	-webkit-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out
}
*/
.toggle {
	position:relative
}