.toggle {
	position:relative
}

.toggle-handle {
	position:absolute;
	z-index:4;
}

.toggle-progress-fill, .toggle-progress-empty {
	width: 50%;
}

.toggle-progress-wrap {
	pointer-events: none;
	position: absolute;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

.toggle-progress {
	position: absolute;
	z-index:1;
	width: 200%;
	height: 100%;
}

