* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.toggle, .toggle * {
  -webkit-user-select: none;
}

body {
	margin: 50px 10px;
	background: #333;
	font-family: "helvetica"
}

textarea {
	width: 100%; height: 100px;
}

/* toggle 3
-------------------------------------------------- */

.toggle-2 {
	width: 66px;
	height: 32px;
	border-radius: 3px;
	text-align: center;
	background: #eee;
	margin: auto;
}

.toggle-2 .toggle-progress {
	background: #02acea;
}

.toggle-2 .toggle-progress-wrap {
 	-webkit-mask-image: url('images/rect-clip.svg');
}

.toggle-2 .toggle-handle {
	top: -2px; width: 36px; height: 36px;
	background: #333;
	border-radius: 3px;
}

.toggle-2 .toggle-states > div {
	position: absolute;
	width: 50%;
	height: 32px;
}

.toggle-2 .toggle-states > div:first-child {
	left: 0;
}

.toggle-2 .toggle-states > div:last-child {
	right: 0;
}






/* toggle 3
-------------------------------------------------- */

.toggle-3 {
	width: 90%;
	margin: auto;
}

.toggle-3 .toggle-states {
	display: -webkit-flex;
	display: flex;
}

.toggle-3 .toggle-states > div {
	-webkit-flex: 1;
	flex: 1;
}

.toggle-3 .toggle-handle {
	top: -8px; width: 20px; height: 20px;
	background: red;
	border-radius: 50%;
}

.toggle-3 .toggle-bar {
	background: black;
	height: 3px;
}

.toggle-3 .point {
	position: relative;
	top: -8px; width: 16px; height: 16px;
	background: black;
	border-radius: 50%;
	margin: auto;
}

